<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - Premnaath V</title>
</head>

<body>
    <h1>IRIS DATASET</h1>
    <button onclick="window.location.href = '/iris';">Display Iris Dataset</button>
    <button onclick="window.location.href = '/plot';">Plot Iris Dataset</button>
    <button onclick="window.location.href = '/plot_heat';">Plot Heat Map</button>
</body>

</html>