{% extends 'layout.html' %}

{% block body %}
<!-- <div class="jumbotron mt-4">
    <h1 class="display-3">Inventory Management System for Retailers</h1>
    {% if session.logged_in == NULL %}
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
</div> -->

<div class="main">
    
    <div class="heading">
        <h1 class="head">Inventory Management System</h1>
        
        <div class="btns">
            <a class="btn1" href="/register">REGISTER</a>
            <a class="btn2" href="/login">LOGIN</a>
        </div>	
    </div>


</div>


{% endblock %}