<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
    
    <form class="container"  action="/logindata"method="post">
    <h1>LOGIN</h1>
    
    <lable for="mail">EMAIL :</lable>
    <input  id="mail" validate type="email" required  name="email"placeholder="    xyz@mail.com"/>
    <lable for="pwd">PASSWORD:</lable>
    <input  id="pwd" type="password" required  name="password"placeholder="Enter your Password"/>
    <div class="btns">
    <button >LOGIN</button>

    <div>New User?<a href="register.html" style="text-decoration:none ;">Register</a>
    </div>
    
    </div>
    <a>Forgot Password ?</a>
    </form>
    </script>
</body>
</html>