<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
    <form class="container-2"  method="post" action="/registerdata">
        <h1>REGISTER</h1>
        <lable for="name">NAME :</lable>
        <input  id="name" validate type="text" required name="name" placeholder="      Enter your name..."/>
        <lable for="mail">EMAIL :</lable>
        <input  id="mail" validate type="email" required  name="email" placeholder="      xyz@mail.com"/>
        <lable for="pwd">PASSWORD:</lable>
        <input  id="pwd" type="password" minlength="8"  name="pwd" required placeholder="     Enter your Password..."/>
        <lable for="mob">MOBILE NO:</lable>
        <input  id="mob" type="tel" pattern="[0-9]{10}"  name="ph" required placeholder="   Enter your 10 digit phone number"/>
        <div class="b-2">
        <button>REGISTER</button>
        </div>
        </form>
</body>
</html>