{% extends 'dash_layout.html' %}
<!-- {% block head%}<title>Dashboard</title>{% endblock %} -->
{% block body %}


  <h1>Dashboard</h1><hr>
<div class="container">
  <div class="row">
      <div class="col-lg-5 col-sm-6">
          <div class="card-box bg-blue">
              <div class="inner">
                  <h3> {{numstock}} </h3>
                  <p> Stocks</p>
              </div>
              <div class="icon">
                  <i class="fa fa-archive" aria-hidden="true"></i>
              </div>
              <a href="/stocks" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
      </div>

      <div class="col-lg-5 col-sm-6">
          <div class="card-box bg-green">
              <div class="inner">
                  <h3> ₹ {{totVal}} </h3>
                  <p> Inventory Value </p>
              </div>
              <div class="icon">
                  <i class="fa fa-money" aria-hidden="true"></i>
              </div>
              <a href="/stocks" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
      </div>
      
  </div>

  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <div class="card-box bg-orange">
          <div class="inner">
              <h3> {{numsupplier}} </h3>
              <p> Suppliers </p>
          </div>
          <div class="icon">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
          </div>
          <a href="/suppliers" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
  </div>
  <div class="col-lg-5 col-sm-6">
      <div class="card-box bg-red">
          <div class="inner">
              <h3> {{numorder}}</h3>
              <p> Orders </p>
          </div>
          <div class="icon">
              <i class="fa fa-credit-card"></i>
          </div>
          <a href="/orders" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
  </div>
  </div>
 
</div>

{% endblock %}